.btn-header {
  color: var(--bg-dark);
}
.btn-header:hover {
  cursor: pointer;
}

.card span {
  font-weight: 500;
  font-size: 1.2rem;
}

.card-header span {
  height: 2rem;
}

select:hover,
select:focus,
select:active,
select:focus {
  color: var(--bg-dark);
  transition: 0s;
}

option[value=""][disabled] {
  display: none;
}

.float-e-margins .btn {
  margin-bottom: 5px;
}
.btn {
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-default {
  color: #333 !important;
  background-color: #f7f3f3 !important;
  border-color: #ccc !important;
}
.btn-default:hover {
  color: #FFF !important;
  background-color: var(--bg-dark) !important;
  border-color: #FFF !important;
}

.btn {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

button:hover {
  overflow: visible;
  background-color: aqua;
}
