.cd-toolbar {
  box-sizing: border-box;
  min-height: 40px;
  border: 1px solid #999;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  list-style: none;
  margin: 0;
  padding: 5px 10px;
  /* background-color: #ddd; */
  background-color: #fafafa;
}

.cd-toolbar li {
  margin: 0;
  padding: 5px 0;
  display: inline-block;
}

.cd-toolbar button {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #999;
}

.cd-toolbar select {
  height: 20px;
  min-width: 40px;
  background-color: #fff;
  border: 1px solid #999;
}

.cd-toolbar li.space {
  content: "/";
  width: 5px;
  margin-left: 5px;
  border-left: 1px solid #999;
}

#color {
  width: 80px;
}
#color option span {
  width: 80px;
  content: "&nbsp";
  border: 1px solid #999;
}

.cd-editor {
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  min-height: 300px;
  margin: 0;
  padding: 10px;
  border: 0;
  display: block;
  overflow: auto;
  border: 1px solid #999;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.actions {
  text-align: center;
  margin-top: 10px;
}

#save {
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #999;
  font-size: 2em;
}

* {
  margin: 0;
  padding: 0;
}

.actions {
  text-align: center;
  margin-top: 10px;
}

.preview {
  background-color: #fff;
  box-shadow: 0px 0px 15px #0004;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.conteudo {
  justify-content: start;
  background-color: #e9e6e6;
  padding-left: 10px;
  margin-top: 300px;
}

.centralizar {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -80px;
}

/* Esconde o input */
input[type="file"] {
  display: none;
}

/* Aparência que terá o seletor de arquivo */
.label-file {
  background-color: var(--bg-dark);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px;
}
