body {
  background-color: #ffffff !important;
}
.concluido {
  text-decoration: line-through;
  color: #777;
}
.table-size{
  font-size: 0.9rem;
}

.tableActions {
  width: 150px;
  padding: 5px;
}
.noticiaForm {
  padding-bottom: 10px;
}
.tipoForm {
  padding-bottom: 10px;
}
.listForm {
  padding-bottom: 10px;
}
#descricao {
  margin-bottom: 10px;
}

/*TELA DE LOGIN*/
.login-form {
  width: 340px;
  margin: 50px auto;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 20px;
}

.btnLogin {
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(49, 49, 49);
  color: #fff;
  border-radius: 10px;
}
.btn {
  background-color: #780f69 !important;
  border-color: #780f69 !important;
  color: #fff !important;
  margin-right: 5px;
  padding: 5px;
}
hr {
  border-bottom: 1px solid #780f69;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.well {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well-legend {
  display: block;
  font-size: 14px;
  width: auto;
  padding: 2px 7px 2px 5px;
  margin-bottom: 20px;
  line-height: inherit;
  color: rgb(0, 0, 0);
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
