body {
  background-color: #ffffff !important;
}
.concluido {
  text-decoration: line-through;
  color: #777;
}

.tableActions {
  width: 220px;
  padding: 5px;
}
.noticiaForm {
  padding-bottom: 10px;
}
.tipoForm {
  padding-bottom: 10px;
}
.listForm {
  padding-bottom: 10px;
}
#descricao {
  margin-bottom: 10px;
}
.app {
  margin: 50px auto;
}

/*TELA DE LOGIN*/
.login-form {
  width: 340px;
  margin: 50px auto;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 20px;
}

.btnLogin {
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(49, 49, 49);
  color: #fff;
  border-radius: 10px;
}
.btn {
  background-color: #780f69 !important;
  border-color: #780f69 !important;
  color: #fff !important;
  margin-right: 5px;
  padding: 5px;
}
hr {
  border-bottom: 1px solid #780f69;
}

.profile a {
  text-decoration: none;
}

/*BARRA DE NAVEGACAO*/
.navbar-fixed-top {
  background: #fff;
  transition-duration: 0.5s;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-color: #eeeeee;
  top: 0;
  border-width: 0 0 1px;
  border-bottom: 4px solid #780f69;
}
.navbar > i {
  font-weight: bold;
}
.navbar-brand {
  min-height: 0px;
  padding: 5px;
}
nav .menu {
  color: #780f69;
  font-weight: bold;
  padding-top: 10px;
}
a:hover {
  color: #780f69;
}

@media (min-width: 768px) {
  .navbar-fixed-bottom,
  .navbar-fixed-top {
    border-radius: 0;
  }
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.well {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well-legend {
  display: block;
  font-size: 14px;
  width: auto;
  padding: 2px 7px 2px 5px;
  margin-bottom: 20px;
  line-height: inherit;
  color: rgb(0, 0, 0);
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/*CARD HOME*/
.box {
  transition: box-shadow 0.2s;
  width: 250px;
  height: 250px;
  /* margin: 10px; */
  border-radius: 10px;
  border: 1px solid #780f69;
  background: #fff;
}
.box:hover {
  box-shadow: 0 0 20px rgba(19, 18, 18, 0.4);
  cursor: pointer;
}
.img-home > img {
  position: absolute;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

