header.header {
    background-color: var(--bg-write);
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
}

header.header h1 {
    font-size: 1.5em;
}

.lead{
    font-size: 1.2rem;
}