aside.menu-area {
  background-color: var(--bg-dark);
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.12), 2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

.menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 10px;
  font-size: 0.9rem;
}

.menu a:hover {
  background: linear-gradient(135deg, #570650, #530e61 100%);
  font-size: 1rem;
}

.menu span:hover {
  background: linear-gradient(135deg, #570650, #530e61 100%);
  font-size: 1rem;
}

.menu span {
  font-size: 0.9rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .menu a {
    display: inline;
    padding: 10px;
    margin: 0px;
  }

  .menu {
    height: 100%;
    justify-content: space-around;
  }

  .menu a {
    font-size: var(--font-header);
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
  font-size: 0.9rem;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.dropdown-menu {
  text-decoration: none;
  background: linear-gradient(135deg, #570650, #530e61 100%);
}

/*MENU*/
/* Style the sidenav links and the dropdown button */

.dropdown-btn {
  padding: 10px;
  text-decoration: none;
  font-size: 10px;
  color: #FFF;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.menu a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

/* Add an active class to the active dropdown button */
.active {
  background: linear-gradient(135deg, #570650, #530e61 100%);
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #91137e;
  padding-left: 15px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
